- yield_partial = @mindpin_layout.yield_partial

%body.echo

  .page-warp
    .page-container
      =render :partial=>base_layout_path('parts/nav.haml') if !@mindpin_layout.hide_nav
      .page-content{:class=>container_classname}
        = yield_partial.nil? ? yield : render(:partial=>base_layout_path("yield/#{yield_partial}.haml"))

  = render :partial=>base_layout_path('parts/footer.haml') if !@mindpin_layout.hide_footer

  #page-hide.hide
    =yield :hide
    %iframe{:name=>"upload_frame",:style=>"width:1px;height:1px;border:0px;",:src=>"about:blank"}

  = render :partial=>base_layout_path('parts/javascripts.haml') if !@mindpin_layout.put_js_in_head