.page-head{:class=>head_classname}
  .nav{:class=>container_classname}
    .site-logo
      <a href="/" title="回 MindPin 首页"></a>
    
    - if logged_in?
      =render :partial=>base_layout_path('parts/user_nav_box.haml')
    - else
      =render :partial=>base_layout_path('parts/user_nav_box_not_logged_in.haml')
        