- @mindpin_layout.theme = 'black'
- @mindpin_layout.grid = 24
- @mindpin_layout.yield_partial = 'application'

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  =render :partial=>base_layout_path('parts/htmlhead.haml')
  =render :partial=>base_layout_path('parts/htmlbody.haml')